
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54); 
}

.icon {
width: 4%;
}

footer{
  font-size: 1vw;
  background-color: rgba(211, 211, 211, 0.808);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-family: Book Antiqua,garamond,serif;

}

.news {
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(211, 211, 211, 0.808);
  border-radius: 25px;
  box-shadow: 0 32px 24px -24px rgba(92, 92, 92, 0.726);
}

.img-content {
  border-radius: 25px;
  float: left;
  box-shadow: 0 32px 24px -24px rgba(92, 92, 92, 0.726);
  transition: filter 1s ,box-shadow 1s;
}

.img-content:hover {
  filter: saturate(0.6);
  box-shadow: 0 32px 24px -15px rgba(92, 92, 92, 0.726);
}

.i {
  background-image: url('max.jpg');
  background-size: 100%;
  border-radius: 25px;
  transition: background-image 2s;
  
}

.i:hover {
background-image: url("max2.jpg");
}

.typewriter div {
  font-size: 20px;
  font-family: Book Antiqua,garamond,serif;
  overflow: hidden;
  border-right: .10em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret .2s step-end 10;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 ;}
  100% { width: 245.67px ;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:rgba(0, 0, 0, 0.445) }
}


.titlu {
  font-size: 6vw;
  font-family:Book Antiqua,garamond,serif;
  background-color:  rgba(73, 73, 73, 0.192);
  border-radius: 25px;
  box-shadow: 0 20px 24px -24px rgba(92, 92, 92, 0.726);;
  margin-left: 2%;
  margin-right: 2%;
  transition: background-color 1.2s , color 1.2s;
}

.titlu:hover {
  background-color: rgba(105, 105, 105, 0.753);
  color: #f1f1f1;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .topnav {
    overflow: hidden;
    position: fixed;
    background-color: rgba(97, 96, 96, 0.555);
    width: 100%;
    top:0;
    text-align: center;
    height: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background-color 1.2s , color 0.5s;
  }

  .topnav:hover {
    background-color: rgba(73, 73, 73, 0.62);
    color: dimgray;
  }


  .topnav a {
    text-align: center;
    color: lightgray;
    text-align: center;
    padding: 32px 16px;
    text-decoration: none;
    font-size: 30px;
    border-bottom: blue;
    transition: color 0.5s;
  }
  
  .topnav a:hover {
    color: black;
  }

  
  .topnav .icon {
    display: none;
  }
  
  .content {
   margin-top: 31px;
  }
  
