

@media screen and (min-width:700px) {

.vid {
height: 500px;
}}

.vid {
  width:60% ;
  transition: transform 0.5s , box-shadow 0.5s;
  border-radius: 25px;
}

.vid:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.45);
}

.cv-element {
  border-radius: 25px;
  width: 60% ;
  border: 2px solid grey;
  transition: transform 0.5s , box-shadow 0.5s;
}

.cv-element:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.45);
}

.title-cv {
  font-size: 3vw;
  font-weight: 500;

}

.line-cv {
  border-radius: 20px;
  
}

.skill-title {
 margin-left: 3%;
 font-size: 1.5vw;
 font-weight: 500;
}


.container {
  margin-left: 3%;
  margin-right: 3%;
  width: 80%;
  height: 10%;
  background-color: rgb(197, 197, 197);
  border-radius: 25px
}

.html {width: 80%; background-color: #4CAF50;border-radius: 25px}
.css {width: 70%; background-color: rgb(19, 220, 255);border-radius: 25px}
.js {width: 40%; background-color: #f49236;border-radius: 25px}
.c {width: 75%; background-color: #76ff76;border-radius: 25px}
.edit {width: 65%; background-color: #34bbdd;border-radius: 25px}
.photo {width: 55%; background-color: #8a58ff;border-radius: 25px}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54); 
}

.icon {
width: 4%;
transition:  box-shadow 1s ;
}

.icon:hover {
  box-shadow: 2px 33px 50px 0px rgba(0,0,0,0.75);
}

footer{
  font-size: 1vw;
  background-color: rgba(211, 211, 211, 0.808);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-family: Book Antiqua,garamond,serif;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.45);

}

.news {
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(211, 211, 211, 0.808);
  border-radius: 25px;
  box-shadow: 0 32px 24px -24px rgba(92, 92, 92, 0.726);
}

.img-content {
  border-radius: 25px;
  float: left;
  box-shadow: 0 32px 24px -24px rgba(92, 92, 92, 0.726);
  transition: box-shadow 1s , transform 0.5s;
}

.img-content:hover {
  box-shadow: 0 32px 24px -15px rgba(92, 92, 92, 0.726);
  transform: scale(1.2);
}



.i {
  background-image: url('max.jpg');
  background-size: 100%;
  border-radius: 25px;
  
}

.typewriter div {
  font-size: 25px;
  font-family: Book Antiqua,garamond,serif;
  overflow: hidden;
  border-right: .10em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret .2s step-end 10;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 ;}
  100% { width: 309.67px ;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:rgba(0, 0, 0, 0.445) }
}


.titlu {
  font-size: 6vw;
  font-family:Book Antiqua,garamond,serif;
  background-color:  rgba(73, 73, 73, 0.192);
  border-radius: 25px;
  box-shadow: 0 20px 24px -24px rgba(92, 92, 92, 0.726);;
  margin-left: 2%;
  margin-right: 2%;
  transition: background-color 1.2s , color 1.5s;
}

.titlu:hover {
  background-color: rgba(105, 105, 105, 0.753);
  color: #e6e6e6;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .topnav {
    overflow: hidden;
    position: fixed;
    background-color: rgba(97, 96, 96, 0.555);
    width: 100%;
    top:0;
    text-align: center;
    height: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background-color 1.2s , color 0.5s;
  }

  .topnav:hover {
    background-color: rgba(73, 73, 73, 0.62);
    color: rgb(43, 43, 43);
  }


  .topnav a {
    text-align: center;
    color: lightgray;
    text-align: center;
    padding: 32px 16px;
    text-decoration: none;
    font-size: 30px;
    border-bottom: blue;
    transition: color 0.5s;
  }
  
  .topnav a:hover {
    color: black;
  }

  
  .topnav .icon {
    display: none;
  }
  
  .content {
   margin-top: 31px;
  }
  
